Repository hmcts/wa-workflow-api, pull requests merged in 2020-08, with the labels that each got.

#4 Down grade spring boot as it has known issues with readiness and live…
  build.gradle
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-4

#7 Setup functional test
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  config/checkstyle/checkstyle.xml
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/features/something/SerenityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/StartWorkflowController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/Transition.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/rsecheck/PojoTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/CreateTaskRequestBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/CreateTaskRequestCreator.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/CreatorObjectMapper.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/TransitionBuilder.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-7

#10 publish swagger docs to reform-docs-api
  .github/swagger.yml
  .travis.yml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-10

#13 Rwa 100 create DMN for tasks
  Jenkinsfile_CNP
  build.gradle
  camunda/getTaskId.dmn
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/features/something/SerenityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/Application.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/StartWorkflowController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/Transition.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/DmnRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/DmnResult.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/DmnValue.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/GetTaskDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/GetTaskDmnResult.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/Task.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskManagerService.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/DemoSmokeTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskManagerServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/CreateTaskRequestCreator.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/TransitionBuilder.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-13
