Repository hmcts/wa-workflow-api, pull requests merged in 2020-12, with the labels that each got.

#94 added workflow for auto cancellation
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaCreateTaskTest.java
  src/integrationTest/resources/create_task.bpmn
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-94

#95 Updating sequence
  README.md
  workflow-api.png
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-95

#101 CVE-2020-13956
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-101

#97 RWA-221: Renaming camunda artifacts to match LLD
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaCreateTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaGetOverdueTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaGetTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/ProcessEngineBuilder.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/integrationTest/resources/create_task.bpmn
  src/integrationTest/resources/getOverdueTask_IA_Asylum.dmn
  src/integrationTest/resources/getTaskId_IA_Asylum.dmn
  src/integrationTest/resources/mapCaseData_IA_Asylum.dmn
  src/integrationTest/resources/permissions_IA_Asylum.dmn
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/config/ServiceAuthProviderInterceptor.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateExternalService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientService.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-97

#96 RWA-237 Refactor task endpoint
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/EvaluateDmnTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/EvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/EvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/EvaluateDmnService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/SendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/SendMessageService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskService.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/EvaluateDmnServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-96

#102 Rwa 219
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-102

#106 RWA-253: Fix index.hmtl not being generated on functional test reports
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-106

#108 Package re-structured
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/EvaluateDmnTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/DmnRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/DmnResult.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/DmnValue.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/EvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/EvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/GetTaskDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/GetTaskDmnResult.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/ProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/SendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/EvaluateDmnService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/SendMessageService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/TaskClientService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/common/TaskToCreate.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateService.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/EvaluateDmnServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/TaskClientServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-108

#107 updated jenkins nightly test URL
  Jenkinsfile_nightly
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-107

#109 Fix CVE-2020-8908: Update google guava to v30.1
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-109

#110 Increase code coverage and fix mutation test threshold
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-110

#111 Increase mutation test coverage
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/DmnRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/DmnResult.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/DmnValue.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/EvaluateDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/EvaluateDmnResponse.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/GetTaskDmnRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/GetTaskDmnResult.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/ProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/SendMessageRequest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/EvaluateDmnRequestTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/EvaluateDmnResponseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-111

#112 RWA-93 add correlationKeys field in the send message body
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/SendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-112
