Repository hmcts/wa-workflow-api, pull requests merged in 2020-11, with the labels that each got.

#70 return 500 for generic exceptions
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/ErrorLogger.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/ErrorMessage.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/ErrorLoggerTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/ErrorMessageTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-70

#75 add charts and secret config
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientService.java
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-75

#90 RWA-197: Upgrade azurerm version to v2
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-90

#91 RWA-233: Fix terraform to pull s2s secret from s2s vault and copy into wa-vault
  infrastructure/main.tf
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-91

#93 bump terraform version and add required provider to state
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-93

#92 RWA-216: Rename taks variable ccdId to caseId
  charts/wa-workflow-api/values.aat.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/ProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-92
