Repository hmcts/wa-workflow-api, pull requests merged in 2020-09, with the labels that each got.

#15 Rwa 98 create user task
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/features/something/CreateTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaCreateTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaGetTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/integrationTest/resources/create_task.bpmn
  src/integrationTest/resources/getTaskId.dmn
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/ProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/SendMessageRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskService.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/CreateTaskRequestCreator.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-15

#22 RWA-95: Setup Mutation tests
  Jenkinsfile_nightly
  build.gradle
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/PojoTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-22

#29 Pmd: Cleanup and Re-enable
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/features/something/CreateTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaCreateTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaGetOverdueTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaGetTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-29

#20 RW-51-Get-task
  build.gradle
  lombok.config
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/features/something/GetTaskSerenityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/GetCamundaTaskByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/GetTaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/camuda/rest/api/wrapper/CamundaTaskService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/camuda/rest/api/wrapper/CamundaTaskServiceWrapper.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/GetTaskController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/models/Task.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/CamundaGetTaskByIdServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-20

#39 Reverting RWA-51
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/features/something/GetTaskSerenityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/GetCamundaTaskByIdTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/GetTaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/camuda/rest/api/wrapper/CamundaTaskService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/camuda/rest/api/wrapper/CamundaTaskServiceWrapper.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/GetTaskController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/models/Task.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/CamundaGetTaskByIdServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-39

#28 RWA-117: Added controller advice for exceptions.
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/features/something/CreateTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/GetWelcomeTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/ErrorLogger.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/controllers/RootControllerTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/CallbackControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/ErrorLoggerTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-28

#26 Rwa 78 workingdays
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/features/CreateTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/features/GetTaskSerenityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaCreateTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaGetOverdueTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaGetTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/integrationTest/resources/create_task.bpmn
  src/integrationTest/resources/getOverdueTask.dmn
  src/integrationTest/resources/getTaskId.dmn
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/Application.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DateService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateExternalService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/CountryHolidayDates.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/GovUkHolidayDatesClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/HolidayDate.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/HolidayLoader.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/HolidayService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/UkHolidayDates.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/DmnValue.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/GetTaskDmnResult.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/ProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/Task.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskToCreate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateExternalServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/FixedDateService.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/HolidayServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/HolidayLoaderTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/CreateTaskRequest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/CreateTaskRequestBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/CreateTaskRequestCreator.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-26

#42 Adding a sequence diagram to Readme file
  README.md
  workflow-api.png
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-42
