Repository hmcts/wa-workflow-api, pull requests merged in 2020-10, with the labels that each got.

#49 Remove lombok as its not used and dependabot is trying to upgrade it
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-49

#46 Rwa 80 configure task
  src/integrationTest/resources/map_case_data.dmn
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-46

#52 Enables stacktrace by default in aat.
  charts/wa-workflow-api/values.aat.template.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-52

#41 Rwa-126: Security Configuration
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/features/GetTaskSerenityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/utils/AuthorizationHeadersProvider.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaGetOverdueTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaGetTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/Application.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/config/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/config/ServiceTokenGeneratorConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootIntegrationBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-41

#48 Rwa 140
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaCreateTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaGetOverdueTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/CamundaGetTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/integrationTest/resources/create_task.bpmn
  src/integrationTest/resources/getOverdueTask_IA_Asylum.dmn
  src/integrationTest/resources/getTaskId_IA_Asylum.dmn
  src/integrationTest/resources/mapCaseData_IA_Asylum.dmn
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskRequest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/ServiceDetails.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/GetTaskDmnResult.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/ProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskToCreate.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskServiceTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/CreateTaskRequest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/CreateTaskRequestBuilder.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/api/CreateTaskRequestCreator.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-48

#50 swagger pub
  .github/workflows/swagger.yml
  .travis.yml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-50

#63 Removed Task enum as this is IA specific and this should only
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/ProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/Task.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskToCreate.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskClientServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/external/taskservice/TaskServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-63

#68 RWA-154: Add permissions for each role to all tasks as configuration
  src/integrationTest/resources/permissions_IA_Asylum.dmn
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-68

#67 update dmn with the new variables
  src/integrationTest/resources/mapCaseData_IA_Asylum.dmn
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-67

#71 Suppress CVE-2020-13943
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-71
