Repository hmcts/wa-workflow-api, pull requests merged in 2021-01, with the labels that each got.

#119 RWA-305 fix CVE-2020-28052
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-119

#122 Rwa 246
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/Application.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/TaskClientService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/common/TaskToCreate.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DateService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateExternalService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/CountryHolidayDates.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/GovUkHolidayDatesClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/HolidayDate.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/HolidayLoader.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/HolidayService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/UkHolidayDates.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/PojoTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskControllerTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateExternalServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/DueDateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/FixedDateService.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/HolidayServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/duedate/holidaydates/HolidayLoaderTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-122

#126 added wait time to get task created
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-126
