Repository hmcts/wa-workflow-api, pull requests merged in 2021-03, with the labels that each got.

#174 Rename Idempotent to Idempotency, fix formatting and imports
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/EvaluateDmnTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/IdempotencyCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/service/IdempotencyKeysRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/ProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/idempotencykey/IdempotencyKeys.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/idempotencykey/IdempotentId.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/idempotency/IdempotencyKeysRepository.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/idempotency/IdempotencyTaskService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/idempotency/IdempotencyTaskWorkerHandler.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/CallbackControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/advice/ErrorMessage.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.0.2__init_tables.sql
  src/main/resources/db/migration/V1.0.3__rename_table.sql
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/idempotencykey/IdempotencyKeysTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/idempotencykey/IdempotentIdTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/IdempotencyTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/IdempotencyTaskWorkerHandlerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-174

#164 Correlating to more than 1 entity
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/IdempotencyCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/SendMessageRequest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-164

#178 upraded gradle and lombok version
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-178

#183 Task/ftc fixes
  Jenkinsfile_CNP
  kk
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/IdempotencyCheckTest.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/schema-h2.sql
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-183

#188 CVE review
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-188

#186 add lock duration to ensure enough time to complete worker task
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskWorker.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-186

#173 added launch darkly
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/LaunchDarklyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/utils/LaunchDarklyClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/config/FeatureToggleConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/util/LaunchDarklyFeatureTogglerTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-173

#190 Correlating multiple executions with correct property
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/SendMessageRequest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-190

#189 clean up user
  src/main/resources/application.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-189

#192 add test to cover db query is case sensitive
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/service/IdempotencyKeysRepositoryJpaTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/schema.sql
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-192
