Repository hmcts/wa-workflow-api, pull requests merged in 2021-02, with the labels that each got.

#114 updated dmn tables
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/EvaluateDmnTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/EvaluateDmnService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/TaskClientService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/EvaluateDmnServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/TaskClientServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-114

#132 RWA 283: Add postgres database, flyway and initial schema
  build.gradle
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.preview.template.yaml
  charts/wa-workflow-api/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/resources/application-integration.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V1.0.1__init_schema.sql
  src/main/resources/db/migration/V1.0.2__init_tables.sql
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-132

#135 Enable db only in preview through chart values
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.preview.template.yaml
  charts/wa-workflow-api/values.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-135

#136 Fix overrides
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/main/resources/bootstrap.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-136

#130 Rwa 279
  build.gradle
  charts/wa-workflow-api/Chart.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskWorker.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-130

#142 bumping chart version
  charts/wa-workflow-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-142

#143 fix to release bpm change
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskWorker.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-143

#149 use awaitility lib for the waiting code
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-149

#127 add hasWarnings handler
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/ProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/HandleWarningExternalService.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-127

#152 CVE Fixes: CVE-2020-13943
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-152

#156 add worker to process task
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/IdempotencyTaskWorker.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/IdempotencyTaskWorkerTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-156

#165 Clean up
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-165

#166 clean up
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-166

#167 Nightly dev
  Jenkinsfile_nightly
  audit.json
  security.sh
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-167

#169 enabled security scan
  Jenkinsfile_nightly
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-169

#170 fix DB error in camunda
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskWorker.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/IdempotencyTaskWorker.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/IdempotencyTaskWorkerHandler.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/WarningTaskWorkerHandler.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskWorkerTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/IdempotencyTaskWorkerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/WarningTaskWorkerHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-170

#138 Feature/201
  build.gradle
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/IdempotencyCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/service/IdempotentKeysRepositoryTest.java
  src/integrationTest/resources/application-integration.yaml
  src/integrationTest/resources/schema-h2.sql
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/idempotentkey/IdempotentId.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/idempotentkey/IdempotentKeys.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskWorker.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/IdempotencyTaskWorkerHandler.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/WarningTaskWorkerHandler.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/idempotency/IdempotencyTaskService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/idempotency/IdempotencyTaskWorkerHandler.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/idempotency/IdempotentKeysRepository.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/idempotentkey/IdempotentIdTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/idempotentkey/IdempotentKeysTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskWorkerTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/IdempotencyTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/IdempotencyTaskWorkerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/WarningTaskWorkerHandlerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-138
