Repository hmcts/wa-workflow-api, pull requests merged in 2021-06, with the labels that each got.

#238 fix CVE-2021-22118
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-238

#239 fix ft
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/IdempotencyCheckTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-239

#231 RWA-532: Multicategories support
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/DmnValue.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/config/CamundaFeignConfiguration.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-231

#237 RWA-532: Update Ft test after dmn deployment
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/EvaluateDmnTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-237
