Repository hmcts/wa-workflow-api, pull requests merged in 2021-04, with the labels that each got.

#194 RWA-475: Add launch darkly sdk key from vault
  src/main/resources/bootstrap.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-194

#195 RWA-475: add secret to values.yaml
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-195

#199 Remove camunda libraries
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-199

#198 Clean up Security configuration
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/EvaluateDmnTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/IdempotencyCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/utils/LaunchDarklyClient.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/config/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/config/SecurityConfiguration.java
  src/main/resources/application.yaml
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/config/RestApiActions.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/services/AuthorizationHeadersProvider.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-198

#200 RWA-486: Update Swagger
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/config/LaunchDarklyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/config/SwaggerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/IdempotencyCheckTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/Application.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/main/resources/application.yaml
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-200

#201 RWA-496: Bump hmctspublic java chart version
  charts/wa-workflow-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-201

#207 Fix CVE-2021-29425
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-207

#212 Fix CVE-2021-22112
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/IdempotencyCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-212

#211 RWA-514: Moving to taskVariables
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskWorker.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/handler/WarningTaskWorkerHandler.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskWorkerTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/WarningTaskWorkerHandlerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/config/RestApiActions.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-211

#208 Replaced jcenter repo with mavenCentral
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-208

#216 Added default for exponential back off
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskWorker.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-216

#217 clean up IDAM_URL since it's not used in the app
  Jenkinsfile_nightly
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.preview.template.yaml
  charts/wa-workflow-api/values.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-217
