Repository hmcts/wa-workflow-api, pull requests merged in 2022-01, with the labels that each got.

#297 [SH] bumping suppress until
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-297

#298 feat:Remove group usage(RWA-722)
  src/contractTest/java/uk/gov/hmcts/reform/waworkflowapi/consumer/wa/WorkflowSendMessageConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/EvaluateDmnTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/IdempotencyCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskControllerTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/GetTaskDmnResult.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/ProcessVariables.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/common/TaskToCreate.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/model/CamundaProcessVariablesTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskControllerTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-298

#293 RWA-836 Update workflow API (ready for consumption by ExUI)
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/main/resources/application.yaml
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-293
