Repository hmcts/wa-workflow-api, pull requests merged in 2022-06, with the labels that each got.

#370 RWA-1441-role-assignment-id-in-additional properties
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/entities/SpecificStandaloneRequest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-370

#320 RWA-1267 [SH] expanding gradle short imports
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-320

#385 RWA-1507 - supression of CVE-2022-22978, amendments made to build.gra…
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/waworkflowapi/provider/service/WorkflowProviderTestConfiguration.java
  src/testUtils/java/uk/gov/hmcts/reform/waworkflowapi/SpringBootFunctionalBaseTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-385

#384 correcting the db product name
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-384

#312 RWA-1143 corrected the event to match IAC DMN changes
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/EvaluateDmnTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-312
