Repository hmcts/wa-workflow-api, pull requests merged in 2023-09, with the labels that each got.

#610 Fixing master pipeline
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/service/IdempotencyKeysRepositoryTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-610

#611 Add OWASP Zaproxy alert to audit.json
  Jenkinsfile_CNP
  audit.json
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-611

#612 RWA-2760: Correct audit.json
  audit.json
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-612

#613 RWA-2744: Update Renovate Config
  .github/renovate.json
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-613

#608 RAW-453: Added Pact tests for evaluateDmn API
  src/contractTest/java/uk/gov/hmcts/reform/waworkflowapi/consumer/wa/WorkflowEvaluateDmnConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/waworkflowapi/provider/WorkflowEvaluateDmnProviderTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-608

#614 RWA-2816-Remove dependency on docker.io
  charts/wa-workflow-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-614
