Repository hmcts/wa-workflow-api, pull requests merged in 2023-05, with the labels that each got.

#571 RWA-803-Check FTs use AAT DB
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  bin/import-bpmn-diagram.sh
  bin/import-dmn-diagram.sh
  bin/import-wa-bpmn-diagram.sh
  bin/pull-latest-camunda-wa-files.sh
  bin/pull-latest-dmn-files.sh
  bin/pull-latest-release-asset.sh
  bin/utils/idam-lease-service-token.sh
  bin/wait-for.sh
  build.gradle
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.aat.template.yaml
  charts/wa-workflow-api/values.preview.template.yaml
  charts/wa-workflow-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/IdempotencyCheckTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/ExternalTaskWorker.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/idempotency/IdempotencyTaskService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/WorkflowApiTestingController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/IdempotencyTaskServiceTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/WarningTaskWorkerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/controllers/WorkflowApiTestingControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-571

#582 Remove ssl mode for staging pod
  charts/wa-workflow-api/values.aat.template.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-582

#574 RWA-2487: rollback of renovate update of junit to unblock mutation tests
  .github/renovate.json
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-574

#584 Correct ingresshost level in aat
  charts/wa-workflow-api/values.aat.template.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-584

#583 RWA-2280 Fix test report coverage
  Jenkinsfile_CNP
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-583

#585 correct ingress host for Camunda
  Jenkinsfile_CNP
  charts/wa-workflow-api/values.aat.template.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-585

#586 Correct camunda url in work flow pod
  charts/wa-workflow-api/values.aat.template.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-586

#593 Correct Wa chart flag enable level
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-593
