Repository hmcts/wa-workflow-api, pull requests merged in 2023-03, with the labels that each got.

#540 RWA-2330: suppress CVE-2022-45688
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-540

#505 RWA-1864 - Name correctly and consistently the Task Type in all WA ap…
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/EvaluateDmnTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-505

#541 RWA-2343: upgrade terraform version to 1.3.9 and Gradle to 7.6.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  infrastructure/.terraform-version
Labels: ns:wa, prd:wa, add-or-update, rel:wa-workflow-api-pr-541

#545 RWA-2367-some logs added and handle NullPointerException
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/TaskClientService.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/handler/WarningTaskWorkerHandler.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/WarningTaskWorkerHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-545

#547 RWA-2367-logs
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/handler/WarningTaskWorkerHandler.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/controllers/startworkflow/CreateTaskController.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/WarningTaskWorkerHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-547

#548 RWA-2410: Suppress CVE-2022-1471
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-548

#546 Support json type in initiation DMN(RWA-1773)
  .github/workflows/swagger.yml
  build.gradle
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/TaskClientService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/TaskClientServiceTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-546

#553 Up the sping boot version, app insight version and renovate.json
  .github/renovate.json
  Dockerfile
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-553

#555 RWA-2367: After adding Multiple Applications and progress a case task…
  src/integrationTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/CreateTaskControllerTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-555
