Repository hmcts/wa-workflow-api, pull requests merged in 2023-12, with the labels that each got.

#629 RWA-2996: Suppress CVE-2023-35116, fix CVE-2023-33202, CVE-2023-34055, CVE-2023-46589
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-629

#628 Rwa 2984 grant reader access single server
  config/owasp/suppressions.xml
  src/main/resources/db/migration/V1.0.4__grant_privs_to_reader_user_single_server.sql
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-628

#631 RWA-2984 update AAT Config
  charts/wa-workflow-api/values.aat.template.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-631

#632 RWA-2984 update AAT Config
  charts/wa-workflow-api/values.aat.template.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-632

#621 RWA-2917 Updated values.yaml to point to Flexible Server Configuration
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.yaml
  src/main/resources/db/migration/V1.0.5__grant_privs_to_reader_user_flexible_server.sql
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-621

#634 RWA-3014 Need to upgrade OWASP - wa-workflow-api
  build.gradle
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-634
