Repository hmcts/wa-workflow-api, pull requests merged in 2023-04, with the labels that each got.

#549 RWA-2401: migrate URLs from .internal to .platform.hmcts.net
  build.gradle
  charts/wa-workflow-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-549

#552 RWA-2428-npe-handling
  src/functionalTest/java/uk/gov/hmcts/reform/waworkflowapi/controllers/SendMessageTest.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/CamundaClient.java
  src/main/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/handler/WarningTaskWorkerHandler.java
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/WarningTaskWorkerHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-552

#570 RWA-2470 remove security.sh
  security.sh
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-570

#580 RWA-2509: Suppress CVE-2023-20863
  build.gradle
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/waworkflowapi/clients/service/WarningTaskWorkerHandlerTest.java
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-580
