Repository hmcts/wa-workflow-api, pull requests merged in 2024-05, with the labels that each got.

#717 RWA-3323: Extend Suppression
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-717

#716 RWA-3233: Upgraded Helm chart to 5.2
  charts/wa-workflow-api/Chart.yaml
  charts/wa-workflow-api/values.aat.template.yaml
  charts/wa-workflow-api/values.preview.template.yaml
  charts/wa-workflow-api/values.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-716

#718 Upgrade to latest Java chart version
  charts/wa-workflow-api/Chart.yaml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-718

#725 RWA-3387: Extend Suppression for CVE-2023-35116
  config/owasp/suppressions.xml
Labels: ns:wa, prd:wa, rel:wa-workflow-api-pr-725
